<!DOCTYPE html>
<html>
<head>
  <title>Ryan O. Mackey</title>
  <link href="stylesheets/style.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/journal/bootstrap.min.css" rel="stylesheet" integrity="sha384-r/qnS4YZBLuBSKeVc+sM4eUYUiJMFhkHfx1nwlErHhTd+NgeJlN/NiiTd6jbKJzm" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Amatica+SC:700" rel="stylesheet" type="text/css">
</head>
<body>

  <!-- Navbar -->

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <a class="navbar-brand" id="brand" href="/">Ryan O. Mackey</a>
    </div>
  </nav>

  <!-- Content -->

  <div id="content" class="container" style="margin-top:5%">
    <div class="row">
      <div class="col-md-6">
        <h1 class="headline">About me.</h1>
        <hr>
        <p>Hi. My name's Ryan, and I'm a web developer.</p>
        <p>I was born and raised in Fort Collins, CO and received my bachelor's degree from Colorado State University, where I majored in Political Science and double-minored in Business Administration and Chinese.</p>
        <p>More recently, I've been studying web development through a bootcamp at Galvanize.</p>
        <p>Some of the technologies I've been working with include:</p>
        <ul>
          <li>HTML/CSS</li>
          <li>Bootstrap</li>
          <li>JavaScript/jQuery</li>
          <li>Node.js/Express</li>
          <li>PostgreSQL</li>
          <li>AngularJS</li>
        </ul>
        <p>View some of my work below.</p>
      </div>
      <div class="col-md-6">
        <h1 class="headline">Contact.</h1>
        <hr>
        <div class="row social-links">
          <div class="col-md-2 col-md-offset-1 col-sm-2 col-xs-2 text-center">
            <i class="fa fa-4x fa-envelope" aria-hidden="true"></i>
          </div>
          <div class="col-md-3">
            <a href="mailto:ryan.o.mackey@gmail.com"><h3>Email</h3></a>
          </div>
        </div>
        <div class="row social-links" style="margin-top:2%;">
          <div class="col-md-2 col-md-offset-1 col-sm-2 col-xs-2 text-center">
            <i class="fa fa-4x fa-github" aria-hidden="true"></i>
          </div>
          <div class="col-md-3">
            <a href="https://github.com/ryanomackey"><h3>Github</h3></a>
          </div>
        </div>
        <div class="row social-links" style="margin-top:2%">
          <div class="col-md-2 col-md-offset-1 col-sm-2 col-xs-2 text-center">
            <i class="fa fa-4x fa-linkedin-square" aria-hidden="true"></i>
          </div>
          <div class="col-md-3">
            <a href="https://www.linkedin.com/in/ryan-mackey-1675443b"><h3>LinkedIn</h3></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Projects -->

  <div class="row" style="margin-top:5%">
    <div class="col-md-2 col-md-offset-5 text-center">
      <h1 class="headline">Projects.</h1>
    </div>
  </div>
  <hr>
  <div class="row">
    <a href="http://pokedex-106e7.firebaseapp.com">
      <div class="col-md-6 project bg-primary" id="pokedex">
        <div class="overlay text-center" id="pokedex-overlay">
          <h1>The Pok&eacute;dex</h1>
        </div>
      </div>
    </a>
    <a href="http://habit-at.herokuapp.com">
      <div class="col-md-6 project bg-primary" id="habitat">
        <div class="overlay text-center" id="habitat-overlay">
          <h1>Habit@</h1>
        </div>
      </div>
    </a>
  </div>
  <div class="row">
    <a href="http://gameslib.ryanomackey.com">
      <div class="col-md-6 project bg-primary" id="games-lib">
        <div class="overlay text-center" id="games-lib-overlay">
          <h1>games.lib</h1>
        </div>
      </div>
    </a>
    <a href="">
      <div class="col-md-6 project bg-primary" id="tbd">
        <div class="overlay" id="tbd-overlay">
          <h1 class="text-center">Coming Soon</h1>
        </div>
      </div>
    </a>
  </div>
  <script src="javascripts/app.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>
