@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {
  p {
    font-size:2em;
  }
  li {
    font-size:2em;
  }
  h1.headline {
    font-size:3.5em;
  }
}

body {
  padding-top:70px;
  padding-bottom: 70px;
}

.project {
  height:250px;
  background-size: cover;
  border:1px solid white;
}

.project h1 {
  margin-top:9%;
  color:white;
  font-size: 80px;
}

#brand {
  font-family:'Amatica SC',cursive;
  font-size:2em;
}

#pokedex {
  background-image: url('../images/pokedex.png');
  position: relative;
}

#habitat {
  background-image: url('../images/habitat.png');
  position: relative;
}

#games-lib {
  background-image: url('../images/games-lib.png');
  position: relative;
}

.overlay {
  background-color: black;
  opacity: 0.75;
  height:100%;
  width:100%;
  position: absolute;
  top:0;
  left:0;
  display: none;
}
